Appium-Python-Client==2.10.1
behaving==3.3.*
ckanapi>=4.7
ckantoolkit>=0.0.4
factory-boy
flake8==7.3.*
flask
mock
pytest-ckan
selenium<4.10

-e git+https://github.com/qld-gov-au/ckanext-report.git@develop#egg=ckanext-report
-e git+https://github.com/qld-gov-au/ckanext-archiver.git@develop#egg=ckanext-archiver
